<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="<%= url %> " type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/CSS/poke.css" />
    <title><%= name %></title>
  </head>
  <body>
    <h1 class="header">
      Pokedex
      <img
        class="pokeball"
        src="https://cdn3.emoji.gg/emojis/pokeball.png"
        width="32px"
        height="32px"
        alt="pokeball"
      />
    </h1>

    <div class="container">
      <img src="<%= img %> " alt="" />
      <h1 class="title"><%= name %></h1>
    </div>
    <div class="info">
      <h3>Experience: <%= exp %></h3>
      <h3>Height: <%= height %></h3>
      <h3>Weight: <%= weight %></h3>
      <h3>Type: <%= type %></h3>
      <h3>Ability: <%= ability %></h3>
      <h3>Order: <%= order %></h3>
    </div>

    <footer>
      Made with ❤️ By Aryadev!
      <img
        class="logo"
        src="/pokemon-logo-text-png-7.png"
        alt="logo"
        width="100px"
      />
    </footer>
  </body>
</html>
